body {
  font-family: Monospace;
  background-color: #f0f0f0;
  margin: 0px;
  overflow: hidden;
}

.caption{
  padding: 1rem;
  color: white;
  background: black;
  font-size: 2rem;
  text-align:center;
}